#container {
    width: 100%;
    height: 100%;

    background-color: slategray;

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 550px;
    height: 430px;
}