#container {
    width: 100vw;
    height: 100vh;

    background-color: rgb(148 163 184);

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 550px;
    height: 430px;
    padding: 16px;

    background-color: #95D0EA;

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 8px;
    place-content: space-between;
    place-items: center;

    border-radius: 0.75rem;
    border-bottom: solid 8px #199EE1;
}

input::placeholder {
    color: #FFFFFF;
}

#display {
    width: 357px;
    height: 48px;
    padding: 0.5rem 1rem 0.5rem 1rem;

    background-color: #7DA8BA;
    color: #FFFFFF;

    border: none;
    border-top: solid 0.5rem #658695;
    border-radius: 0.375rem;
    
    font-size: 2.5rem;
    line-height: 2.5rem;

    grid-column: span 3 / span 3;
    cursor: default;
    user-select: none;

    outline: 2px solid transparent;
    outline-offset: 2px;
    caret-color: transparent;

    text-align: right;
    
}

button {
    width: 112px;
    height: 70px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.875rem;
    line-height: 2.25rem;
    border: none;
    border-radius: 0.375rem;

    user-select: none;
    color: #79A6BA;
}

#reset {
    background-color: #FD9EA9;
    border-bottom: solid 0.5rem #FD7A89;
    color: #FFFFFF;
}

#button {
    background-color: #FFFFFF;
    border-bottom: solid 0.5rem #79A6BA;
}

#operator {
    background-color: #FFF0F5;
    border-bottom: solid 0.5rem #79A6BA;
}

#calculate {
    background-color: #F1FF98;
    border-bottom: solid 0.5rem #9DA858;
}